<section class="wrapper">
  <div class="signin-container">
    <img src="assets/logo-codec.png" alt="Codec Logo" />
    <div class="logo-and-form">
      <div>Logo</div>
      <div class="signin-form">
        <p>Sign in</p>
        <div>
          <label>Username:
            <input type="text">
          </label><br><br>
          <label>Password:&nbsp;
            <input type="password">
          </label>
        </div>
        <div class="button-holder">
          <button routerLink="/home">Signin</button>
        </div>
        <div class="hyperlinks">
          <a href="javascript:void(0);" routerLink="/signup">New user</a>
          <a href="javascript:void(0);">Forgot Password</a>
        </div>
      </div>
    </div>
  </div>
</section>