<section class="wrapper">
  <div class="signup-container">
    <p>New Customer Registration</p>
    <div class="registration-form">
      <div>
        <section>
          <label>First Name:</label>
          <input type="text">
        </section>
        <section>
          <label>Last Name:</label>
          <input type="text">
        </section>
      </div>
      <div>
        <section>
          <label>Email:</label>
          <input type="email">
        </section>
        <section>
          <label>Password:</label>
          <input type="password">
        </section>
      </div>
      <div>
        <section>
          <label>Confirm Password:</label>
          <input type="password">
        </section>
        <section>
          <label>Company:</label>
          <input type="text">
        </section>
      </div>
      <div>
        <section>
          <label>Phone number:</label>
          <input type="text">
        </section>
      </div>
      <div class="button-holder">
        <button>Create Account</button>
      </div>
      <div class="tnc">
        <input type="checkbox" id="check" checked name="gdpr" value="gdpr">
        <label for="check"> I agree with terms and conditions</label>
      </div>
    </div>
  </div>
</section>