.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .signup-container {
        border: 1px solid blue;

        p {
            background-color: blue;
            color: white;
            text-align: center;
            margin-top: 0;
            padding: 8px 0;
        }
        .registration-form {
            padding: 48px;

            >div {
                display: flex;
                margin: 24px 0;

                section {
                    width: 350px;
                    display: flex;
                    justify-content: space-between;
                    margin-right: 100px;

                    input {
                        padding: 4px;
                    }
                }
            }

            .button-holder {
                justify-content: center;

                button {
                    cursor: pointer;
                    background-color: blue;
                    color: white;
                    border: none;
                    outline: none;
                    padding: 8px;
                    border-radius: 3px;
                }
            }

            .tnc {
                display: flex;
                justify-content: center;
            }
        }
    }
}