<section class="wrapper">
  <div class="home-container">
    <p>Welcome to CODEC Portal</p>
    <div class="logo-holder">
      <img src="assets/logo-codec.png" alt="">
      <span>LOGO</span>
    </div>
    <div class="menu-holder">
      <button>ABOUT</button>
      <button>CONTACT US</button>
    </div>
    <section class="new-customer-form">
      <div>
        <label>New Customer CSP Agreement Name:</label>
        <input type="text">
      </div>
      <div>
        <label>Start Date:</label>
        <input type="date">
      </div>
      <div>
        <label>End Date:</label>
        <input type="date">
      </div>
      <div>
        <label>Agreed Service:</label>
        <input type="text">
      </div>
      <div class="instructions">
        <label>Instructions</label>
        <br>
        <textarea name="inst" id="instr" cols="30" rows="10"></textarea>
      </div>
    </section>
    <div class="hyperlinks">
      <p>Portal Forms</p>
      <div>
        <p>CSP Agreement:</p><a href="javascript:void(0);" routerLink="/csp-agreement-form">CSP Agreement</a>
      </div>
      <div>
        <p>DD Mandate:</p><a href="javascript:void(0);">DD Mandate form</a>
      </div>
      <div>
        <p>Credit Application:</p><a href="javascript:void(0);">Credit Application</a>
      </div>
      <div>
        <p>Reseller Authorisation:</p><a href="javascript:void(0);">Credit Application</a>
      </div>
    </div>
  </div>
</section>